.content {
    max-width: 1200px;
    margin: 15rem auto;
    width: calc(100% - 40px);
}
*::selection {
    color: var(--white);
    background: var(--main-color);
}
html::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

html::-webkit-scrollbar-track {
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 10rem 20rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 5rem;
    text-align: center;
    font-size: 18rem;
}
.btn:hover {
    background: var(--black) !important;
    color: var(--white) ;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
