html {
    line-height: 1.5;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    color: inherit;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
input,
textarea,
select,
button {
    outline: none;
    font: inherit;
}
input {
    line-height: normal;
}
label,
button {
    cursor: pointer;
    user-select: none !important;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    overflow-wrap: break-word;
}
