@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
    --main-color: #8e44ad;
    --red: #e74c3c;
    --orange: #f39c12;
    --white: #fff;
    --black: #2c3e50;
    --light-color: #888;
    --light-bg: #eee;
    --border: 1rem solid rgba(0, 0, 0, 0.2);
}
html {
    font-family: "Nunito", sans-serif;
    font-size: 6.25%;
}
body {
    font-size: 16rem;
    color: var(--black);
    overflow-x: hidden;
    background: var(--light-bg);
    padding-left: 300rem;
}
body.active {
    padding-left: 0;
}
body.dark {
    /* --light-color: #aaa; */
    --light-color: #ddd;
    --light-bg: #333;
    --black: #fff;
    --white: #222;
    --border: 0.1rem solid rgba(255, 255, 255, 0.2);
}

/* header */
.header {
    position: sticky;
    /* position: fixed; */
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding: 10rem 0;
    border-bottom: 1rem solid var(--border);
    background: var(--white);
}
.header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-logo-text {
    font-size: 25rem;
}
.header-form {
    width: 500rem;
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    padding: 15rem 20rem;
    display: flex;
    gap: 2rem;
}
.header-form button {
    font-size: 20rem;
}
.header-form button:hover {
    color: var(--main-color);
}
.header-form-input {
    width: 100%;
    font-size: 18rem;
}
.header-icons {
    display: flex;
    align-items: center;
    column-gap: 5rem;
}
.header-icons i {
    display: block;
    font-size: 20rem;
    color: var(--black);
    background-color: var(--light-bg);
    border-radius: 5rem;
    height: 45rem;
    width: 45rem;
    line-height: 45rem;
    cursor: pointer;
    text-align: center;
}
.header-icons i:hover {
    background: var(--black);
    color: var(--white);
}
.header-profile {
    position: absolute;
    right: 20rem;
    top: 120%;
    background: var(--white);
    width: 300rem;
    padding: 15rem;
    border: 5rem;
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    align-items: stretch;
    text-align: center;
    transform-origin: top right;
    transform: scale(0);
}
.header-profile.active {
    transform: scale(1);
}
.header-profile img {
    width: 70rem;
    height: 70rem;
    margin: 0 auto;
    border-radius: 50%;
}
.header-profile h3 {
    line-height: 1;
}
.header-profile .row {
    gap: 5rem;
}
.header-profile .row a {
    background: var(--orange);
    font-size: 18rem;
    flex: 1;
}
/* sideBar - start */
.sideBar.active {
    left: -300rem;
}
.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 300rem;
    height: 100vh;
    border-right: var(--border);
    padding: 15rem;
    background: var(--white);
    z-index: 1200;
    overflow: hidden;
}
.sideBar .header-profile {
    margin-top: 20rem;
    position: unset;
    transform: scale(1);
    width: 100%;
    padding: 0;
    margin-bottom: 20rem;
}
#sideBar-close-btn {
    display: none;
    text-align: right;
}
#sideBar-close-btn i {
    font-size: 25rem;
    background: var(--red);
    border-radius: 5rem;
    color: var(--white);
    cursor: pointer;
    height: 45rem;
    width: 45rem;
    line-height: 45rem;
    text-align: center;
}
.sideBar-navbar {
    display: flex;
    flex-direction: column;
    margin: 0 -15rem;
}
.sideBar-navbar a {
    display: flex;
    align-items: center;
    padding: 15rem;
    color: var(--light-color);
    font-size: 20rem;
}
.sideBar-navbar a:hover {
    background: var(--light-bg);
}
.sideBar-navbar a:hover i {
    margin-right: 10rem;
}
.sideBar-navbar a i {
    color: var(--main-color);
    font-size: 25rem;
    min-width: 45rem;
}
/* sideBar - end */
/* option - start */
.option {
}
.option-title {
    position: relative;
    color: var(--black);
    padding-block: 5rem;
}
.option-title::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--light-color);
}
.option-grid {
    padding: 15rem 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250rem, 1fr));
    gap: 15rem;
    align-items: flex-start;
}
.option-grid-block {
    background: var(--white);
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    padding: 15rem;
    border: 1rem solid var(--border);
}
.option-grid-block span {
    color: var(--light-color);
    line-height: 1.8;
}
.option-grid-block i {
    color: var(--main-color);
}
.option-rows {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
}
.option-rows a {
    background: var(--light-bg);
    color: var(--light-color);
}
.option-rows a:hover {
    color: var(--white);
}
.option-rows a:hover i {
    color: var(--white);
}
/* option - end */
/* courses start */
.courses-grid {
    margin-block: 30rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275rem, 1fr));
    gap: 15rem;
    align-items: stretch;
}
.courses-block {
    display: flex;
    flex-direction: column;
    row-gap: 10rem;
    padding: 15rem;
    background: var(--white);
    border: 1rem solid var(--border);
    overflow: hidden;
}
.courses-cta {
    display: flex;
    justify-content: center;
}
.courses-cta a {
    background: var(--orange);
}
.courses-block span {
    font-weight: 600;
    font-size: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.courses-user {
    display: flex;
    column-gap: 10rem;
    align-items: center;
}
.courses-user-info h4 {
    font-size: 18rem;
    line-height: 1;
}
.courses-user-info span {
    font-size: 14rem;
    line-height: 1;
}
.courses-user img {
    width: 50rem;
    height: 50rem;
    object-fit: cover;
    border-radius: 50%;
}
.courses-thumb {
    margin-top: 10rem;
    position: relative;
    border-radius: 5rem;
    overflow: hidden;
}
.courses-thumb span {
    /* position: absolute;
    top: 10rem;
    left: 10rem;
    padding: 10rem 20rem;
    color: var(--white);
    background: rgba(0, 0, 0, 0.2);
    border-radius: 5rem; */
    position: absolute;
    top: 10rem;
    left: 10rem;
    border-radius: 5rem;
    padding: 5rem 15rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    font-size: 15rem;
}
/* courses start */
/* footer - start */
.footer {
    background-color: var(--white);
    border-top: var(--border);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 20rem;
    padding: 5rem 20rem;
    color: var(--black);
    margin-top: 10rem;
    z-index: 1000;
}
/* footer - end */
